@import "tailwindcss";
@plugin "daisyui" {
  themes: night --default, dark --prefersdark;
}

@theme {
  --font-montserrat: "Montserrat", sans-serif;

  --animate-fadein: fadeIn 0.3s ease-in-out;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat/Montserrat-Medium.ttf") format('trueType');
  }
}
