@import "tailwindcss";
 @plugin "daisyui" {
   themes: night --default, dark --prefersdark;
 }

  @theme {
  --font-montserrat: "Montserrat", sans-serif;
}

@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat/Montserrat-Medium.ttf") format('trueType');
  }
}
