<section class="mt-5">
  <table class="table table-md mt-2 w-full">
    <thead>
      <th>#</th>
      <th>Icono</th>
      <th>Bandera</th>
      <th>Nombre</th>
      <th>Capital</th>
      <th>Poblacion</th>
      <th></th>
    </thead>

    <tbody>
      @for (country of countries(); track country.cca2; let index = $index) {
        <tr>
          <td>{{index + 1}}</td>
          <td>{{ country.flag }}</td>
          <td>
            <img
              [src]="country.flags.svg"
              [alt]="country.name.common" class="w-10" />
          </td>
          <td>{{country.name.common}}</td>
          <td>{{country.capital}}</td>
          <td>{{country.population}}</td>
          <td><a >Más información</a></td>
        </tr>

      }
    </tbody>
  </table>
</section>
